<!DOCTYPE html>
<html>
<head>
    <title>Oconee County Fire Rescue</title>
<!--    Style sheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--     jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>


<!--   JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

</head>
<body>
<header>



        <h1> <img src="img/Emblem.png" class = "fade" height="150px" width="150">Oconee County Fire Rescue</h1>

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="certification.html">Certification Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reports.html">Member Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="user_login.html">Member Login</a>
          </li>
        </ul>

</header>



<main>

    <h2 style="text-align: center;" class= "col-xs-12 col-s-12 col-md-12 col-lg-12">Certification Reports</h2>

<br>
<p> Certification List </p>

<table style="text-align:center;" class="col-xs-12 col-s-12 col-md-12 col-lg-12">
<tr>
  <th>Certification Name</th>
  <th>Certification Agency</th>
  <th>Default Expiration Period (years)</th>
</tr>
<tr>
  <td>CPR (CPR for Healthcare Providers)</td>
  <td>American Heart Association</td>
  <td>2</td>
</tr>
<tr>
  <td>CPR (CPR for the Professional Rescuer)</td>
  <td>American Red Cross</td>
  <td>2</td>
</tr>
<tr>
  <td>Firefighter I </td>
  <td>Athens Technical College</td>
  <td>3</td>
</tr>
<tr>
  <td>FireFighter 1</td>
  <td>Ivy Technical College</td>
  <td>3</td>
</tr>
<tr>
  <td>POST</td>
  <td>Georgia POST Academy</td>
  <td>5</td>
</tr>
</table>

<br>

<p> Member Certifications: Expired</p>
<table style="text-align:center;" class="col-xs-12 col-s-12 col-md-12 col-lg-12">
<tr>
  <th>MID</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Position</th>
  <th>Status</th>
  <th>Certifications</th>
  <th>Expiration Date</th>
</tr>
<tr>
  <td>0001</td>
  <td>Maria</td>
  <td>Anders</td>
  <td>Captain</td>
  <td>Active</td>
  <td>Firefighter 1 (Athens Technical College)</td>
  <td>11/20/2020</td>
</tr>
<tr>
  <td>0002</td>
  <td>John</td>
  <td>Madden</td>
  <td>Captain</td>
  <td>Active</td>
  <td>POST</td>
  <td>11/20/220</td>
</tr>
<tr>
  <td>0003</td>
  <td>Steve</td>
  <td>Smith</td>
  <td>First Responder</td>
  <td>Active</td>
  <td>Firefighter 1 (Athens Technical College)</td>
  <td>6/06/2020</td>
</table>


<br>
<p> Member Certifications: Current</p>
  <table style="text-align:center;" class="col-xs-12 col-s-12 col-md-12 col-lg-12">
  <tr>
    <th>MID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Position</th>
    <th>Status</th>
    <th>Certifications</th>
    <th>Expiration Date</th>
    <th>Start Date</th>
    <th>Gender</th>
    <th>Position</th>
    <th>Radio Number</th>
    <th>Station Number</th>
    <th>Is Active</th>
  </tr>

<!--  <tr>
    <td>0001</td>
    <td>Maria</td>
    <td>Anders</td>
    <td>Captain</td>
    <td>Active</td>
    <td>Firefighter 1 (Athens Technical College)</td>
    <td>11/20/2020</td>
  </tr>
  <tr>
    <td>0002</td>
    <td>John</td>
    <td>Madden</td>
    <td>Captain</td>
    <td>Active</td>
    <td>POST</td>
    <td>11/20/220</td>
  </tr>
  <tr>
    <td>0003</td>
    <td>Steve</td>
    <td>Smith</td>
    <td>First Responder</td>
    <td>Active</td>
    <td>Firefighter 1 (Athens Technical College)</td>
    <td>6/06/2020</td>
  </tr>
-->
// This will be the info taken from the database.

  <tr v-for="p in person" @click="handleRowClick(p)">
    <td>{{ p.personID }}</td>
    <td>{{ p.firstName }}</td>
    <td>{{ p.lastName }}</td>
    <td>{{ p.address }}</td>
    <td>{{ p.email }}</td>
    <td>{{ p.phoneNumber }}</td>
    <td>{{ p.dob }}</td>
    <td>{{ p.startDate }}</td>
    <td>{{ p.gender }}</td>
    <td>{{ p.position }}</td>
    <td>{{ p.radioNumber }}</td>
    <td>{{ p.stationNumber }}</td>
    <td>{{ p.isActive }}</td>
  </tr>
  </table>

// Vue.js connection
  <tr v-for="p in person" @click="handleRowClick(p)">

//                v-if="filter.sab=='' || filter.sab == p.sexAtBirth">
// Add functionality to sort sort/filter the table.
// Most likely by position.

                  <td>{{ p.personID }}</td>
                  <td>{{ p.firstName }}</td>
                  <td>{{ p.lastName }}</td>
                  <td>{{ p.address }}</td>
                  <td>{{ p.email }}</td>
                  <td>{{ p.phoneNumber }}</td>
                  <td>{{ p.dob }}</td>
                  <td>{{ p.startDate }}</td>
                  <td>{{ p.gender }}</td>
                  <td>{{ p.position }}</td>
                  <td>{{ p.radioNumber }}</td>
                  <td>{{ p.stationNumber }}</td>
                  <td>{{ p.isActive }}</td>
                </tr>

</main>


  <footer class="col-xs-12 col-s-12 col-md-12 col-lg-12">


     <p class="caption"> Oconee County Fire Rescue (OCFR) | 123 Sesame Street| Oconee County, GA | (546) - 543-8991  </p>



</footer>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="js/certifiation.app.js"></script>
  <script src="js/member.app.js"></script>

</body>
</html>
