<!DOCTYPE html>
<html>
<head>
    <title>Oconee County Fire Rescue</title>
<!--    Style sheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--     jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>


<!--   JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

</head>
<body>
  <header>

          <h1> <img src="img/Emblem.png" class = "fade" height="150px" width="150">Oconee County Fire Rescue</h1>

          <nav class="row navbar navbar-default navbar-custom">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                      <span class="icon-bar" style="color: black"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>

              <div id="menu" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav nav-center">
                      <li>
                          <a href="index.html">Home</a>
                      </li>
                      <li>
                          <a href="certification.html">Certification Reports</a>
                      </li>
                      <li>
                          <a href="reports.html">Member Reports</a>
                      </li>
                      <li>
                          <a href="user_login.html">Member Login</a>
                      </li>
                  </ul>
              </div>
          </nav>


  </header>


<!--   Member List -->
<main>

    <h2 style="text-align: center;" class= "col-xs-12 col-s-12 col-md-12 col-lg-12">Member Reports</h2>

<div id="memberApp">
<p>Member Information</p>
<table style="text-align:center;" class="col-xs-12 col-s-12 col-md-12 col-lg-12">
  <thead>
    <th>MID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone</th>
    <th>DoB</th>
    <th>Start Date</th>
    <th>Gender</th>
    <th>Position</th>
    <th>Radio Number</th>
    <th>Station Number</th>
    <th>Status</th>
  </thead>
  <tr v-for="p in members" @click="handleRowClick(p)">
    <td>{{ p.personID }}</td>
    <td>{{ p.firstName }}</td>
    <td>{{ p.lastName }}</td>
    <td>{{ p.address }}</td>
    <td>{{ p.email }}</td>
    <td>{{ p.phoneNumber }}</td>
    <td>{{ p.dob }}</td>
    <td>{{ p.startDate }}</td>
    <td>{{ p.gender }}</td>
    <td>{{ p.position }}</td>
    <td>{{ p.radioNumber }}</td>
    <td>{{ p.stationNumber }}</td>
    <td>{{ p.isActive }}</td>
  </tr>
</table>

<br>
<br>
<p> Add Member </p>
<form class="formCenter" @submit.prevent="handleSubmit">
            <div class="form-group row">
              <label for="inputMIB" class="col-sm-2 col-lg-5 col-form-label">Member ID</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" id="inputMIB" placeholder="Member ID" v-model="memberData.personID">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputFirstName" class="col-sm-2 col-lg-5 col-form-label">First Name</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" v-model="memberData.firstName">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputLastName" class="col-sm-2 col-lg-5 col-form-label">Last Name</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" v-model="memberData.lastName">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputAddress" class="col-sm-2 col-lg-5 col-form-label">Address</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputAddress" placeholder="Address" v-model="memberData.address">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmailAddress" class="col-sm-2 col-lg-5 col-form-label">Email Address</label>
              <div class="col-sm-2">
                <input type="email" class="form-control" id="inputEmailAddress" placeholder="Email Address" v-model="memberData.email">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPhoneNumber" class="col-sm-2 col-lg-5 col-form-label">Phone Number</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" id="inputPhoneNumber" placeholder="Phone Number" v-model="memberData.phoneNumber">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputDoB" class="col-sm-2 col-lg-5 col-form-label">Date of Birth</label>
              <div class="col-sm-2">
                <input type="date" class="form-control" id="inputDoB" placeholder="Date of Birth" v-model="memberData.dob">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputStartDate" class="col-sm-2 col-lg-5 col-form-label">Start Date</label>
              <div class="col-sm-2">
                <input type="date" class="form-control" id="inputStartDate" placeholder="Start Date" v-model="memberData.startDate">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputGender" class="col-sm-2 col-lg-5 col-form-label">Gender</label>
              <div class="col-sm-2">
                <div>
                  <input type="radio" id="male" name="drone" value="male" v-model="memberData.gender">
                  <label for="male">Male</label>
                <!-- </div> -->

                <!-- <div> -->
                  <input type="radio" id="female" name="drone" value="female" v-model="memberData.gender">
                  <label for="female">Female</label>
                <!-- </div> -->

                <!-- <div> -->
                  <input type="radio" id="other" name="drone" value="other" v-model="memberData.gender">
                  <label for="other">Other</label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPosition" class="col-sm-2 col-lg-5 col-form-label">Position</label>
              <div class="col-sm-2">
                <select name="position" v-model="memberData.position">
                   <option value="volunteer">Volunteer</option>
                   <option value="paramedic">Paramedic</option>
                   <option value="lieutenant">Lieutenant</option>
                   <option value="captain">Captain</option>
                   <option value="batallionChief">Batallion Chief</option>
                   <option value="fireChief">Fire Chief</option>
                   <option value="comissioner" >Comissioner</option>
                 </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputRadioNumber" class="col-sm-2 col-lg-5 col-form-label">Radio Number</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" id="inputRadioNumber" placeholder="Radio Number" v-model="memberData.radioNumber">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputStationNumber" class="col-sm-2 col-lg-5 col-form-label">Station Number</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" id="inputStationNumber" placeholder="Station Number" v-model="memberData.stationNumber">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputStatus" class="col-sm-2 col-lg-5 col-form-label">Status</label>
                <div class="col-sm-2">
                  <div>
                  <input type="radio" id="yes" name="yes" value="Active" v-model="memberData.isActive">
                  <label for="Active">Active</label>
                  <!-- </div>

                <div> -->
                  <input type="radio" id="no" name="yes" value="Not Active" v-model="memberData.isActive">
                  <label for="Not Active">Not Active</label>
                </div>
            </div>
          </div>

            <div class="form-group row">
              <label for="userLogin" class="col-sm-2 col-lg-5 col-form-label"></label>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Submit Member Report</button>
              </div>
            </div>
          </form>
</div>

</main>


  <footer class="col-xs-12 col-s-12 col-md-12 col-lg-12">


     <p class="caption"> Oconee County Fire Rescue (OCFR) | 123 Sesame Street| Oconee County, GA | (546) - 543-8991  </p>



</footer>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="js/member.app.js"></script>

</body>
</html>
